#root {
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
}
body {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
.test {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 150, 100, 0.2);
}
